.wsuwp-accessibility-settings-form {
    background: white;
    padding: 20px;
}

.wsuwp-accessibility-settings-form h2{
    font-size: 2rem;
}

.wsuwp-accessibility-settings-form label {
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0;
    display: block;
}

.wsuwp-accessibility-settings-form__recipients__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wsuwp-accessibility-settings-form__recipients__container span {
    margin-right: 1rem;
}

.wsuwp-accessibility-settings-form__email-frequency select,
.wsuwp-accessibility-settings-form__email-message .description{
    display: block;
}

.wsuwp-accessibility-settings-form__custom-message-container {
    display: flex;
    padding-top: 1rem;
}

.wsuwp-accessibility-settings-form__custom-message-container_left {
    flex: 1 70%;
}

.wsuwp-accessibility-settings-form__custom-message-container_right {
    flex: 1 30%;
    border-left: 3px solid #a60f2d;
    margin-left: 2rem;
    padding-left: 2rem;
}

